In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
data = pd.read_csv('E:/sistem-cerdas/dataset_UAS/dataset_soal No_1.csv', delimiter=';')

In [25]:
data.head()

      Age  Income Student Credit_rating Class (buy_computer)
0   <= 30    High      No          Fair                   No
1   <= 30    High      No     Excellent                   No
2  31..40    High      No          Fair                  Yes
3    > 40  Medium      No          Fair                  Yes
4    > 40     Low     Yes          Fair                  Yes

In [14]:
data.shape

(51, 1)

In [34]:
data['Class (buy_computer)'].value_counts()

Yes    29
No     22
Name: Class (buy_computer), dtype: int64

In [35]:
PYes = 29/51
PNo = 22/51

In [36]:
print(PYes)

0.5686274509803921

In [37]:
print(PNo)

0.43137254901960786

In [32]:
pd.crosstab(data['Income'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Income
High                   6    5
Low                   11   10
Medium                 5   14

In [33]:
PHighNo = 6/22
PLowNo = 11/22
PMediumNo = 5/22

PHighYes = 5/29
PLowYes = 10/29
PMediumYes = 14/29

PHigh = 11/51
PLow = 21/51
PMedium = 19/51

print(PLowYes)

0.3448275862068966

In [38]:
PYesLow = (PLowYes * PYes)/PLow
print(PYesLow)

0.4761904761904762

In [39]:
pd.crosstab(data['Student'], data['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Student
No                    10   14
Yes                   12   15

In [45]:
PYesStudentNo = 10/22
PNoStudentNo = 12/22

PYesStudentYes = 15/29
PNoStudentYes = 14/29

PYesStudent = 27/51
PNoStudent = 24/51

print(PYesStudentYes)

0.5172413793103449

In [46]:
PYesSyes = (PSyesYes * PYes)/PSyes
print(PYesSyes)

1.2727272727272727

In [47]:
PBuy = ((PYesStudentYes*PLowYes)*PYes)/(PYesStudent*PLow)
print(PBuy)

0.46524356869184463

In [48]:
PNoBuy = ((PNoStudentNo*PLowNo)*PNo)/(PYesStudent*PLow)
print(PNoBuy)

0.5396825396825398

In [49]:
PSum = PNoBuy+PBuy
print(PSum)

1.0049261083743843

In [50]:
PBuy= (PBuy/PSum)*100
print(PBuy)

46.296296296296305

In [51]:
PNoBuy = (PNoBuy*PSum)*100
print(PNoBuy)

54.23410743607789